Завдання 1. Прочитайте csv файл (метод read_csv)

In [2]:
import pandas as pd

df = pd.read_csv('/content/bestsellers with categories.csv')

Завдання 2. Виведіть перші 10 рядків (метод head)

In [5]:
print(df.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

Завдання 3. Виведіть розміри датасету (метод shape)

In [8]:
print(df.shape)
print("Датасет зберігає дані про", df.shape[0], "книг.")

(550, 7)
Датасет зберігає дані про 550 книг.

Завдання 4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

In [9]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

Завдання 5. Вивести кількість пропусків у кожному стовпчику.

In [10]:
print(df.isnull().sum())
print("Чи є в якихось змінних пропуски?", "Так" if df.isnull().sum().sum() > 0 else "Ні")

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Чи є в якихось змінних пропуски? Ні

Завдання 6. За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre

In [11]:
print("Унікальні жанри:", df['genre'].unique())

Унікальні жанри: ['Non Fiction' 'Fiction']

Завдання 7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

In [12]:
print("Максимальна ціна:", df['price'].max())
print("Мінімальна ціна:", df['price'].min())
print("Середня ціна:", df['price'].mean())
print("Медіанна ціна:", df['price'].median())

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

Завдання 8. Виконайте наступні завдання з пошуку і сортування даних

In [13]:
print("Найвищий рейтинг у датасеті:", df['user_rating'].max())
print("Кількість книг з найвищим рейтингом:", (df['user_rating'] == df['user_rating'].max()).sum())
most_reviews = df[df['reviews'] == df['reviews'].max()]['name'].iloc[0]
print("Книга з найбільшою кількістю відгуків:", most_reviews)
mostexpensive2010 = df[df['year'] == 2010].sort_values(by='price', ascending=False)['name'].iloc[0]
print("Найдорожча книга 2010 року:", mostexpensive2010)
print("Кількість книг жанру Fiction у 2012 році:", df[(df['year'] == 2012) & (df['genre'] == 'Fiction')].shape[0])
print("Книг з рейтингом 4.9 у 2010 та 2011 роках:", df[(df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))].shape[0])

Найвищий рейтинг у датасеті: 4.9
Кількість книг з найвищим рейтингом: 52
Книга з найбільшою кількістю відгуків: Where the Crawdads Sing
Найдорожча книга 2010 року: Publication Manual of the American Psychological Association, 6th Edition
Кількість книг жанру Fiction у 2012 році: 21
Книг з рейтингом 4.9 у 2010 та 2011 роках: 1

Завдання 9. Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction

In [14]:
price_stats = df.groupby('genre')['price'].agg(['max', 'min'])
print(price_stats)

             max  min
genre
Fiction       82    0
Non Fiction  105    0